@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');
/* //palette
$green: #a2ccb6
$light-peach: #ffecd9
$peach: #ee786e
$sand: #fceeb5
$white: #fff */



*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(./images/Margo.jpg);
    background-repeat: no-repeat;
    
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
}

.container{
    text-align: center;
    flex: 1;
}
.container h2{
    font-size: 120%;
    padding: 20px;
    font-family: Abyssinica SIL;
    background-color: tan;
}
.navbar{
    flex: 1;
    text-align: right;
}
.navbar ul li{
    display: inline-block;
    padding: 20px;
    border-right: 1px solid tan;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: oswald;
    font-size: 140%;
}

.heading{
    margin-top: 12%;
    text-align:left;
    margin-left: 30px;
    line-height: 2rem;
}
.heading h1{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: Bona Nova;
    font-size: 400%;
    
}

.heading p{
    font-size: 22px;
    margin-top: 4px;
    font-family: Bona Nova;
}
.heading img{
    float: right;
    margin-right: 60px;
    margin-top: -290px;
}

.heading button{
    margin-top: 20px;
    padding: 10px;
    background: tan;
    border-radius: 20px;
    width: 350px;
    height: 80px;
}

.heading button:hover{
    background-color: white;
}
.bottom{
    display: inline-block;
    flex: 1;
}
.bottom img{
    display: inline-block;
    width: 90px;
    margin-top: 90px;
    padding: 20px;
    margin-left: 220px;
    background: tan;
    border-radius: 80px;
}